/* TIMECARDS CONTAINER */
.time_container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100%;
}
.time_container::-webkit-scrollbar {
  display: none;
}
.add_time {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.plus {
  font-size: 30px;
  color: #2f2f2f;
  cursor: pointer;
}

.home_date {
  color: #999;
  padding: 0.5em;
}
/* TIMECARD */
.timecard_container {
  position: relative;
  width: 60%;
  padding: 0.8em;
  background: #2f2f2f;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 5px;
  grid-template-areas: "title project time edit" "clock clock clock clock";
  border-radius: 15px;
  border: 1px solid #4f4f4f;
  color: #eee;
  margin: 0.3em 0;
  transition: margin-left 0.3s ease-in-out;
}

.search_container {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_times {
  border: none;
  width: 100%;
  outline: none;
  font-size: 12pt;
}

.search_icon {
  position: absolute;
  right: 30px;
}

.timecard_title {
  text-align: left;
}

.timecard_time {
  text-align: right;
}

.edit_timecard {
  text-align: right;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.edit_timecard:hover:after {
  content: "Edit";
  padding: 0.3em;
  border-radius: 5px;
  position: absolute;
  right: -8%;
  background: #2f2f2f;
  color: #eee;
}

.timecard_project {
  text-align: left;
  font-size: 12px;
  color: #999;
}

.total_time_container {
  background: none;
  border: none;
}

.total_time {
  font-weight: 500;
  color: #2f2f2f;
}

.timecard_clock {
  grid-area: clock;
  width: 100%;
  display: flex;
  color: #999;
  font-size: 12px;
}

.timecard_clock div {
  width: 100%;
  height: 1px;
  background: #999;
  margin-top: 8px;
}

.timecard_container:hover {
  -webkit-box-shadow: 4px 2px 15px -5px rgba(0, 0, 0, 0.49);
  box-shadow: 4px 2px 15px -5px rgba(0, 0, 0, 0.49);
  margin-left: -10px;
}

.total_time_container:hover {
  box-shadow: none;
  margin-left: 0;
}

.timecard_title {
  font-weight: 400;
}
/* TIMECARD MODULE */
.module_timecard_container {
  padding: 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 70%;
  background: #fff;
  z-index: 99;
  -webkit-box-shadow: 4px 2px 15px -5px rgba(0, 0, 0, 0.49);
  box-shadow: 4px 2px 15px -5px rgba(0, 0, 0, 0.49);
  border-radius: 15px;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.module_time_container {
  display: flex;
}

.module_input_container {
  width: 70%;
  padding: 1em;
}

.module_input_container input {
  width: 100%;
  margin-left: 10px;
  padding: 0.3em 0.5em;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  font-size: 16px;
}

.module_btn_container {
  width: 70%;
  padding: 1em;
  text-align: right;
}

.module_btn {
  margin: 0 10px;
  padding: 0.5em 1em;
  background: #2f2f2f;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
}

.module_btn:hover {
  -webkit-box-shadow: 4px 2px 15px -5px rgba(0, 0, 0, 0.49);
  box-shadow: 4px 2px 15px -5px rgba(0, 0, 0, 0.49);
}

.module_delete_time {
  display: flex;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.49);
  z-index: 90;
}

@media only screen and (max-width: 1000px) {
  .timecard_container {
    width: 80%;
  }
  .home_date {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .timecard_container {
    width: 90%;
    font-size: 8px;
  }
}
